@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Design {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-position: center;
  background-size: 100%;
  background-position-y: 100%;
  background-position-x: 100%;
}

//?#########################################################

@media all and (max-width: 1000px) {
  #Design {
    // background-image: url(./Image/Back_1.png);
    background-position: center;
    background-size: 100%;
    // overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;

    #design-title {
      left: 0em;
      text-align: center;
    }

    .design-container {
      width: 73%;
      height: 200em;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5em;

      .one-design-container:nth-child(n) {
        background-size: 100%;
        width: 12em;
        height: 18em;
        margin: auto;
        box-shadow: 0px 0.1px 24px rgba(0, 0, 0, 0.2);
      }

      .one-design-container:nth-child(1) {
        left: -13%;
        height: 16em;
        z-index: 2;
      }

      .one-design-container:nth-child(2) {
        left: 23%;
        top: -10em;
      }

      .one-design-container:nth-child(3) {
        // width: 11em;
        top: -16em;
        left: -13%;
        height: 16em;
        // z-index: 1;
      }

      .one-design-container:nth-child(4) {
        // left: -13%;
        top: -19em;
        left: 23%;
      }

      .one-design-container:nth-child(5) {
        top: -25em;
        left: -13%;
        height: 17em;
        background-size: 117%;
        background-position-x: -1.5em;
      }

      .one-design-container:nth-child(6) {
        left: 23%;
        top: -35em;
        height: 17em;
      }

      .one-design-container:nth-child(7) {
        top: -40em;
        height: 16em;
        left: -13%;
      }

      .one-design-container:nth-child(8) {
        top: -42em;
        left: 23%;
      }

      .one-design-container:nth-child(9) {
        top: -50em;
        height: 17.5em;
        left: -13%;
      }

      .one-design-container:nth-child(10) {
        top: -55em;
        height: 17em;
        left: 23%;
      }

      .one-design-container:nth-child(11) {
        top: -64em;
        left: -13%;
      }

      .one-design-container:nth-child(12) {
        top: -67em;
        height: 17em;
        left: 23%;
      }

      .one-design-container:nth-child(13) {
        top: -72em;
        height: 17em;
        left: -13%;
      }

      .one-design-container:nth-child(14) {
        top: -77em;
        height: 17em;
        left: 23%;
      }

      .one-design-container:nth-child(15) {
        top: -80em;
        height: 16em;
        left: -13%;
      }

      .one-design-container:nth-child(16) {
        top: -89em;
        left: 23%;
        height: 20.8em;
      }

      .one-design-container:nth-child(17) {
        top: -98em;
        left: -13%;
        height: 16em;
      }

      .one-design-container:nth-child(18) {
        top: -106em;
        height: 17em;
        left: 23%;
      }

      .one-design-container:nth-child(19) {
        top: -114em;
        height: 16.6em;
      }

      .one-design-container:nth-child(20) {
        top: -124em;
        height: 20em;
        width: 10em;
        opacity: 0;
      }
    }

    .network {
      display: none;
    }

    .design-presentation-container {
      .design-container {
        width: 100vw;
        height: 103vh;
        border-radius: 0em;
        display: grid;
        grid-template-columns: 1 fr;
        grid-template-rows: 2em 70% 30%;
        background: var(--colorX);
        background: rgba(0, 0, 0, 0.806);

        .show-vertical-image {
          margin: 0em;
          width: 95%;
          height: 90%;
          grid-column: span 2;
          grid-row: 2;
          margin: auto;
          background-color: rgba(11, 11, 11, 0.9);
          border: 0.3em rgba(11, 11, 11, 0.9) solid;
          border-radius: 0.2em;
        }

        .show-horizontal-image {
          margin: auto;
          grid-column: span 2;
          grid-row: 2;
          width: 95%;
          background-color: rgba(11, 11, 11, 0.9);
          border: 0.3em rgba(11, 11, 11, 0.9) solid;
          border-radius: 0.2em;
        }

        .show-vertical-image-text {
          width: 100%;
          grid-column: span 2;
          grid-row: 3;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 30% 70%;
          color: var(--color0);

          span {
            width: 100%;
            grid-row: 1;
            text-align: center;
            font-size: 1.5em;
          }

          p {
            grid-row: 2;
            width: 100%;
            margin: none;
            text-align: center;
          }
        }
      }
    }
  }
}
