@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Work {
  background-color: var(--color0);
  // background-color: aqua;

  #work_title {
    position: absolute;
    top: 2%;
    left: 1em;
    font-size: 0.9em;
    color: #000;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
  }
}

@media all and (max-width: 800px) {
  #Work {
    // background-color: salmon;
    overflow: scroll;
    #work_title {
      // background-color: salmon;
      width: 100%;
      top: 1%;
      left: 0%;
      text-align: center;
    }
  }
}
